*,
*::before,
*::after {
    --azul-profundo: #01080E;
    --azul-escuro: #041832;
    --azul-medio: #144480;
    --azul-destaque-light: #1875E9;
    --azul-destaque-dark: #3985D8;
    --cinza-escuro: #222222;
    --cinza-medio: #C5C5C5;
    --cinza-claro: #F2F2F2;
    --branco: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--branco);
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: var(--cinza-escuro);
    text-align: center;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.cabecalho__logo {
    max-width: 100px;
    width: 100%;
    flex-shrink: 0;
    margin-right: auto; /* Move logo to the left */
}

.cabecalho__container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 1;
    margin-left: auto; /* Move icons to the right */
    margin-right: 20px;
}

.cabecalho__container-icones {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cabecalho__notificacoes,
.cabecalho__bntPesquisar,
.cabecalho__usuario, .cabecalho__Camera, .cabecalho__Quadrado {
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    padding: 0;
}

.cabecalho__Camera {
    background-image: url(../img/topbar/video_call.png);
    display: none;
}
.cabecalho__Quadrado {
    background-image: url(../img/topbar/apps.png);
    display: none;
}

.cabecalho__notificacoes {
    background-image: url(../img/topbar/notifications.png);
}

.cabecalho__bntPesquisar {
    background-image: url('../img/topbar/search.png');
}

.cabecalho__usuario {
    background-image: url('../img/topbar/Avatar.png');
}

.cabecalho__switch {
    position: relative;
    display: inline-block;
    padding: 13px 30px 13px 13px;
    width: 40px;
    height: 24px;
}
  
.cabecalho__switch-input{
    opacity: 0;
    width: 0;
    height: 0;
}
  
.cabecalho__switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cinza-claro);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.cabecalho__switch-slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 1px;
    bottom: 1.5px;
    background-color: var(--branco);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
.cabecalho__switch-input:checked + .cabecalho__switch-slider {
    background-color: var(--azul-destaque-light);
}
  
.cabecalho__switch-input:focus + .cabecalho__switch-slider {
    box-shadow: 0 0 1px var(--cinza-claro);
}
  
.cabecalho__switch-input:checked + .cabecalho__switch-slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}


/* Seção superior */
.superior__secao__container{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.superior__secao__container-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    margin-bottom: 5px;
    padding-inline: 10px;
    gap: 10px;
    padding-top: 5px;
}

/* Estiliza a barra de rolagem */
.superior__secao__container-wrapper::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    height: 5px; /* Altura da barra de rolagem horizontal */
}

/* Estiliza a parte interna da barra de rolagem (trilho) */
.superior__secao__container-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho */
    border-radius: 10px; /* Arredondamento do trilho */
}

/* Estiliza o polegar da barra de rolagem */
.superior__secao__container-wrapper::-webkit-scrollbar-thumb {
    background: #888; /* Cor do polegar */
    border-radius: 10px; /* Arredondamento do polegar */
}

/* Estiliza o polegar da barra de rolagem ao passar o mouse */
.superior__secao__container-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do polegar ao passar o mouse */
}

.superior__item{
    color: var(--cinza-escuro);
    background-color: var(--cinza-claro);
    padding: 7px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background .6s ease, color .3s ease;
}

.superior__item:hover{
    color: var(--branco);
    background-color: var(--azul-destaque-light);
    transition: background .6s ease, color .3s ease;
}

.superior__item-active{
    background-color: var(--azul-destaque-light);
    color: var(--branco);
}

.superior__slider{
    padding-left: 10px;
    cursor: pointer;
}

.img-seta{
    min-height: 100%;
}

/* Menu lateral */
.menu__container {
    font-size: 14px;
    background-color: var(--branco);
}

.icone__inicio::before {
    content: url(../img/sidebar/home.png);
}

.icone__explorar::before {
    content: url(../img/sidebar/explore.png);
}

.icone__shorts::before {
    content: url(../img/sidebar/airplay.png);
}

.icone__inscricoes::before {
    content: url(../img/sidebar/subscriptions.png);
}

.icone__biblioteca::before {
    content: url(../img/sidebar/video_library.png);
}

.icone__historico::before {
    content: url(../img/sidebar/history.png);
}

.icone__relogio::before {
    content: url(../img/sidebar/history_toggle_off.png);
}

.icone__like::before {
    content: url(../img/sidebar/thumb_up_alt.png);
}

.icone__alura::before {
    content: url(../img/sidebar/Avatar_Alura.png);
}

.icone__gaveta::before {
    content: url(../img/sidebar/Avatar_Gaveta.png);
}

.icone__ballerini::before {
    content: url(../img/sidebar/Avatar_Rafa.png);
}

.icone__iamarino::before {
    content: url(../img/sidebar/Avatar_Atila.png);
}

.icone__souto::before {
    content: url(../img/sidebar/Avatar_Souto.png);
}

.icone__nerd::before {
    content: url(../img/sidebar/Avatar_Jovem_Nerd.png);
}

.icone__deschamps::before {
    content: url(../img/sidebar/Avatar_Deschamps.png);
}

.icone__mostrar::before {
    content: url(../img/sidebar/keyboard_arrow_down.png);
}

.icone__videos::before {
    content: url(../img/sidebar/ondemand_video.png);
}

.icone__filmes::before {
    content: url(../img/sidebar/movie.png);
}

.icone__jogos::before {
    content: url(../img/sidebar/sports_esports.png);
}

.menu__lista{
    display: none;
}

/* Menu */
.menu__container{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu__lista:nth-child(1){
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-top: 1px solid rgba(0, 0, 0, 0.251);
    padding: 15px 0px;
    background-color: var(--branco);
    gap: 20px;
}

.menu__lista:nth-child(1) > * > a{
    color: var(--cinza-escuro);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Videos container */
.videos__container {
    color: black;
    padding: 20px 20px 10px 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videos__item{
    display: block;
    height: 303px;
    width: 280px;
    flex-grow: 1;
    max-width: 315px;
    list-style: none;
}

iframe{
    border-radius: 10px;
    width: 100%;
    height: 62%;
}

.descricao-video{
    display: grid;
    padding-top: 5px;
}

.descricao-video .img-canal{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.descricao-video .titulo-video {
    font-weight: 700;
    color: var(--cinza-escuro);
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: flex-start;
    text-align: start;
    padding-left: 10px;
}

.descricao-video .titulo-canal {
    font-size: 14px;
    color: var(--cinza-escuro);
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 5px;
}

/* Adicionais do mobile para tablet */
.container__pesquisa{
    display: none;
}

hr{
    display: none;
}

@media (min-width: 834px){
    /* Cabeçalho */
    .cabecalho__logo{
        max-width: 130px;
    }

    .container__pesquisa{
        min-width: 400px;
        display: inline-flex;
    }
    
    .container__pesquisa form{
        display: inline-flex;
        width: 100%;
    }
    
    .cabecalho__container-icones{
        gap: 18px;
        margin-right: 5px;
    }

    .cabecalho__Camera {
        background-image: url(../img/topbar/video_call.png);
        display: block;
    }
    .cabecalho__Quadrado {
        background-image: url(../img/topbar/apps.png);
        display: block;
    }    
    
    .input-pesquisa{
        width: 100%;
        border: 1px solid var(--cinza-claro);
        padding: 8px;
        border-radius: 20px  0 0 20px;
    }
    
    .bnt-pesquisa{
        border-radius: 0 50% 50% 0;
        padding: 8px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bnt-microfone{
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-left: 3px;
        cursor: pointer;
    }

    .cabecalho__bntPesquisar{
        display: none;
    }

    .superior__secao__container-wrapper{
        gap: 15px;
        padding: 0;
        max-width: 100%;
    }

    .superior__item{
        font-size: 18px;
        padding: 12px 20px;
    }

    /* Menu lateral */
    .videos__container, .superior__secao__container{
        margin-left: 100px;
    }
    .menu__container{
        position: absolute;
        top: 51px;
        left: 0;
        height: 100%;
        width: 100px
    }

    .menu__lista:nth-child(1){
        flex-direction: column;
        align-items: center;
        border: none;
        padding-left: 10px;
        gap: 30px;
    }
    
    .menu__lista:nth-child(1) > * > a{
        color: var(--cinza-escuro);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .videos__container{
        padding: 0;
    }
}

@media (min-width: 1440px){
    .cabecalho__logo{
        max-width: 200px;
    }

    .cabecalho__container-icones{
        gap: 25px;
        margin-right: 7px;
    }

    .videos__container, .superior__secao__container{
        margin-left: 240px;
    }

    .menu__container{
        top: 60px;
        padding-top: 30px;
        padding-left: 20px;
        width: 240px
    }
    hr{
        display: block;
    }

    .menu__lista:nth-child(1){
        align-items: start;
        gap: 20px;
        padding: 0;
        padding-bottom: 20px;
    }

    .menu__lista:nth-child(1) > * > a{
        flex-direction: row;
    }
    
    .menu__lista{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .menu__lista > *{
        list-style: none;
    }

    .menu__lista a{
        color: var(--cinza-escuro);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .column-reverse{
        flex-direction: column-reverse;
    }
}

.menu-suspenso-apps{
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    transition: height .4s ease;
    background-color: var(--branco);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}
.menu-suspenso-apps-item{
    list-style: none;
    color: var(--azul-escuro);
    padding: 20px;
    position: relative;
}
.menu-suspenso-apps-item::before{
    background-color: transparent;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .15s ease-in-out;
    width: 0;
    margin-right: 10px;
    padding-left: 5px;
}
.menu-suspenso-apps-item:hover::before{
    background-color: var(--branco);
    width: 15px;
    height: 3px;
}
.menu-suspenso-apps-item:hover{
    background-color: var(--azul-destaque-light);
    color: var(--branco);
    font-weight: 600;
}


.container__pesquisa{
    position: relative;
}
.autocomplete-list{
    position: absolute;
    top: 100%;
    height: 0;
    overflow: hidden;
    background-color: white;
    transition: height .4s ease, padding .4s ease, width .4s ease;

    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: start;
    margin: 10px;
    max-width: 400px;
}

.autocomplete-suggestion{
    list-style: none;
    height: 40px;
    padding-inline: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.autocomplete-suggestion::before{
    background-color: transparent;
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .15s ease-in-out;
    width: 0;
    margin-right: 10px;
    padding-left: 5px;
}

.autocomplete-suggestion:hover::before{
    background-color: var(--branco);
    height: 3px;
    width: 15px;
}

.autocomplete-suggestion:hover{
    background-color: var(--azul-destaque-light);
    color: var(--branco);
    font-weight: 400;
}